version: 2.1
orbs:
  cypress: cypress-io/cypress@3
workflows:
  build:
    jobs:
      - cypress/run:
          start-command: 'npm run start'
          cypress-command:
            'npx cypress run --parallel --record --key CYPRESS_RECORD_KEY --group all tests'
          parallelism: 3
          steps:
              - run:
                command: |
                  TEST=$(circleci tests glob "cypress/e2e/*Test.cy.js") | circleci tests split
                  npm run cypress --spec $TEST