version: 2.1
orbs:
  cypress: cypress-io/cypress@2.2.0
workflows:
  build:
    jobs:
        - cypress/install
        - cypress/run:
            requires:
              - cypress/install
            store_artifacts: true
            parallel: true
            parallelism: 3
            command: |
              TEST=$(circleci tests glob "cypress\e2e\BasketTest.cy.js" "cypress\e2e\BuyingProcesTest.cy.js" "cypress\e2e\LoginTest.cy.js" | circleci tests split) cypress run --spec $TEST
            group: 2 machines
